<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Whois Searching</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- OG -->
    <meta property="og:title" content="SteveYi" />
    <meta property="og:url" content="https://network.steveyi.net/" />
    <meta property="og:image" content="https://static-a1.steveyi.net/static/img/og/network.steveyi.net.png" />
    <meta property="og:image:secure_url" content="https://static-a1.steveyi.net/media/yi/life/image03.jpg" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="SteveYi Network" />
    <meta property="og:site_name" content="SteveYiNetwork" />
    <!-- ICON -->
    <link rel="icon" href="https://static-a1.steveyi.net/static/img/apple-touch-icon-114x114.png">
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="asset/style.css">
</head>

<body>
    <div class="header">
        <div class="menu">
            <ul>
                <li><a href="/about.html">About</a></li>
                <li><a href="/whois.html">Whois</a></li>
                <li><a href="/status.html">Locations (State)</a></li>
                <li><a href="/peering.html">Peering</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
    <br>
    <div class="container" id="app">
        <h1>Whois Search</h1>
        <p>Search Domain Name, Website, IP and ASN whois data.</p>
        <div class="whois_search_form">
            <form class="form" @submit.prevent="search()">
                <label>Target: </label><br><br>
                <input id="input" placeholder="AS60614" type="text" v-model="IP">
                <br>
                <br> Test query for <a @click="search('AS60614')">AS60614 </a><span v-if="userIP" style="margin: 0 .2em;">or</span>
                <a v-if="userIP" @click="search(userIP)">${userIP}</a>
                <button class="button" :class="{loading}">Search!</button>
            </form>
        </div>
        <div class="whois" v-if="result">
            <pre>${result}</pre>
        </div>
        <br />
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.5/vue.global.prod.js"></script>
    <script>
        const App = {
            delimiters: ['${', '}'],
            async created() {
                this.userIP = (await axios('https://ip.steveyi.net/ip/')).data.IP
            },
            data: () => ({
                userIP: null,
                year: new Date().getFullYear(),
                result: null,
                IP: '',
                loading: false
            }),
            methods: {
                async search(target) {
                    this.loading = true
                    this.result = (await axios(`https://whois.steveyi.net/whois/${target || this.IP}`)).data
                    this.loading = false
                }
            }
        }
        Vue.createApp(App).mount('#app')
    </script>
</body>

</html>